body {
    background-image: url("https://media3.giphy.com/media/2ON93ykYH33ar61e0B/giphy.gif?cid=790b7611c47a73c30425cd790dda09bae33d7a1d1c07c2e2&rid=giphy.gif&ct=g");
    animation: bgScroll 20s linear infinite;
    margin: 0;
    padding: 0;
}
marquee {
    font-size: 40px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}
main, footer {
    color: white;
    background-color: black;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes bgScroll {
    0% {
        background-position : 0px 0px
    }
    100% {
        background-position : -1280px -720px
    }
}
.alerts {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin: 0;
    padding-top: 10px;
}
.simplepadding {
    padding-top: 50px;
    padding-bottom: 10px;
}
.welcomecenter {
    font-size: 2vw;
    word-wrap: break-word;
    text-align: center;
}
.videotitlepadding {
    padding-top: 180px;
}
.videopadding {
    padding-bottom: 50px;
}
.topindex {
    margin-top: 0px;
    height: 51px;
    width: 100%;
    background-color: white;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.allbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexbuttons {
    border: none;
    color: black;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}
.indexbuttons:hover {
    background-color: gray;
}
a {
    text-decoration: none;
    color: inherit;
    width: auto;
    height: auto;
}